/* Globals */
:root {
  --font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-serif: Georgia, serif;
  --color-secondary: #444;
  --color-link: #635ac7;
  --color-link-hover: blueviolet;

  font-family: var(--font-sans);
  font-weight: normal;
  line-height: 1.5;
}

body {
  margin: 0;
}

a {
  color: var(--color-link);
  text-decoration:none;
}
a:hover {
  cursor:pointer;
  color: var(--color-link-hover);
}
.disabled {
	opacity:0.5;
}
.disabled a:hover {
	cursor: not-allowed;
}

.active {
	border:2px solid tomato;
}
.site-container {
  margin:2.0em auto;
  width:70%;
}
/* Snippets */
.site-header {
  padding-bottom: 2rem;
  padding-top: 2rem;
  text-align: center;
}

.site-header__quote {
  color: var(--color);
  font-family: var(--font-serif);
  margin-left: auto;
  margin-right: auto;
  max-width: 460px;
}

.site-footer {
  color: var(--color);
  font-family: var(--font-serif);
  text-align: center;
}

.fa-heart {
	font-size:0.8em;
}
/* Image galleries */
.gallery-image img{
	width:100%;
	border-radius:5px;
}
/* Gallery controls */

.gallery-controls {
	display:flex;
	justify-content:center;
	font-size:1.5em;
}
.gallery-nav {
	display:flex;
}

.gallery-nav .image-counter {
	font-size:0.6em;
	margin-left:1.0em;
	margin-right:1.0em;
	margin-top:0.5em;
}
.close {
	position:absolute;
	right:5.0em;
}
/* Gallery slideshow */
.gallery-slideshow-container {
	display:none;
}
/* Gallery thumbnail */
.gallery-thumb-container .image-viewer {
	display:flex;
	justify-content:center;
}
.gallery-thumb-container .gallery-image img {
	margin:1.0em;
	width:9.0em;
	height:6.0em;
}


